body {
	font-family: sans-serif;
	background-color: #ffbdf7;
}

h2 {
	font-size: 16px;
	padding: 5px;
	font-style: oblique;
}

p {
	font-size: 14px;
	padding: 0 10px;
}

ul {
	font-size: 14px;
	margin: 0 10px;
}

figure {
	float: right;
}

figcaption {
	font-size: 10px;
	padding: 0 20px;
}

#greeting {
	text-decoration: underline;
}

